.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-areas:
    'site-title'
    'main-body';
  color: rgba(255, 255, 255, 0.678);
  min-width: 600px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0.2em;
  font-size: 1em;
}

.site-title {
  z-index: 100;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(
    to bottom right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  grid-area: site-title;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 15px solid rgba(0, 0, 0, 0.37);
}

.homepage {
  grid-area: main-body;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 80px;
}

.color-title {
  position: absolute;
  justify-self: center;
  font-size: 5em;
  margin-top: 80px;
  min-width: 600px;
}

.main-col-deets {
  position: absolute;
  justify-self: center;
  font-size: 1em;
  margin-top: 172px;
  width: 540px;
  background-color: black;
  border-radius: 5px;
  padding: 0.1em;
}

.content-wrapper,
.color-details,
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scheme-selector {
  min-width: 400px;
}

.details-card,
form {
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.493);
  border-radius: 5px;
  padding: 1em;
  max-width: 800px;
  min-width: 400px;
}

.content-wrapper {
  height: 65vh;
  margin-bottom: 3em;
  justify-content: space-between;
}

.details-card {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-areas: 'list-left list-right';
}

.list-left {
  justify-self: end;
  text-align: right;
}

.list-right {
  justify-self: baseline;
  text-align: left;
  margin-left: 0.5em;
}

.right-align {
  align-items: flex-end;
}
.left-align {
  align-items: baseline;
}

#color-input {
  width: 72%;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
}

button {
  width: 35%;
  max-width: 500px;
  margin: 0.5em;
}

li {
  margin: 0.2em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: magenta;
}

#scheme-para {
  margin: 0;
}

.scheme-options {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50%;
  padding: 0.2em;
  border-radius: 3px;
}

.scheme-options:hover {
  box-shadow: 0 0 5px 2px rgb(255, 240, 206);
}

.scheme-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2em;
  padding: 2em;
  width: 550px;
}

.small-card {
  width: 120px;
  height: 120px;
  margin: 0.5em 0.2em;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.scheme-details {
  margin: 0.1em;
  font-weight: 600;
  font-size: 0.9em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#bottom-one {
  margin-bottom: 0.5em;
}

#nothing {
  margin: 0;
}
